# Project exclude paths
/.gradle/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/build/tmp/compileTestJava/source-classes-mapping.txt
/build/tmp/compileJava/source-classes-mapping.txt
/build/classes/java/test/Test.class
/build/classes/java/main/Main.class
/build/classes/java/main/User.class
/build/classes/java/main/Ring.class
/build/classes/java/main/Product.class
/build/classes/java/main/Account.class
/build/classes/java/main/Book.class
/build/classes/java/main/Order.class
/build/classes/java/main/Coat.class
/build/classes/java/main/Car.class
/build/classes/java/main/Seat.class
/build/classes/java/main/Wallet.class
/build/classes/java/main/Hummer.class
/build/classes/java/main/Request.class
/build/classes/java/main/Pen.class
/build/classes/java/main/FundRequest.class
/build/classes/java/main/Shop.class
/build/classes/java/main/Address.class
/build/classes/java/main/TV.class
/build/classes/java/main/Seller.class
/build/classes/java/main/Puzzle.class
/build/classes/java/main/Pot.class
/build/classes/java/main/Admin.class
